.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.primary {
  border-radius: 6px;
  padding: 8px 14px;
  background-color: var(--accent);
}