.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 20px 50px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    padding: 40px 100px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 50px 150px;
  }
}